<div class="flex-container">
    <div>
        <img [src]="Logo" style="width:220px; margin-top:1px; margin-right: 50px;">
    </div>
    <div>
        <h1 style="width:200px;margin-right:50px;margin-top:15px; color:white;font-weight: 600;">{{heading}}</h1>
    </div>
    <div class="logos">
        <mat-icon style="color:white;font-weight: 600; margin-top:20px; margin-left: 20px;">login</mat-icon>
        <mat-icon style="color:white;font-weight: 600;margin-top: 20px;  margin-left: 30px;">help_outline</mat-icon>
    </div>
</div>
<div class="flex-container1">
    <div class="section1" style="height:91vh">
        <div>
            <img [src]="Homepage" style="width:70vw; height:90.5vh">
        </div>
    </div>
    <div class="section2" style="width:30vw;">
        <div>
            <h3 class="item1" style="font-weight: bold; font-size: large;">Sign-On</h3>
        </div>
        <div>
            <button mat-button class="item1" style="background: rgb(0, 117, 169);
                color: rgb(255, 255, 255);
                font-weight:400;
                font-size: large;
                border: 1px solid rgb(255, 255, 255);
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                border-radius: 25px; width:150px" (click)="openLoginDialog('Employee')">Employee </button>
        </div>
        <br>
        <div>
            <button mat-button class="item1" style="color: rgb(103, 140, 222);background-color: rgb(255, 255, 255);
                border: 1px solid rgb(103, 140, 222);
                font-weight:400;
                font-size: large;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                border-radius: 25px; width:150px"(click)="openLoginDialog('Admin')">Admin</button>
</div>
        </div>
    </div>