.flex-container-1 {
  max-width: 1900px;
  max-height: 300px;
  border: 1px solid red;
  overflow: hidden;
}
img{
  width:2100px; 
  height:790px; 
  margin-top:-240px; 
  margin-left:-80px;
}
.flex-container-2{
  width:80vw; 
  height:49.7vh;
  display: flex;
  background-color:white;
  margin-left:150px;
}
.flex-container-3{
  width:15vw; 
  height:49vh; 
  border-right:3px solid gray;
}

.flex-container-4 {
  margin-left: 15px;
  width:70vw; 
  height:49vh;
}
button{
  width:130px;
  height:28px;
  margin-left:530px;
  margin-top:15px;
  border-radius:20px;
  background-color: rgb(0, 117, 169);
  color:white;
  font-weight: bold;
  cursor: pointer;
}

.body {
  background-color: lightgrey;
}